@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f2a40;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul li{
  cursor: pointer;
}
.nav_inputside_svg svg{
  cursor: pointer;
}
/* #sidebar div{
  cursor: pointer;
  padding-right: 10px;
  
} */
/* #sidebar div:hover{
  color: blue;
  border-right: 3px solid blue;
} */
/* .pro-sidebar-inner{
  color: rgba(252, 252, 252, 0.521);
  background-color: black;
} */
.custom-sidebar {
  background-color: #303a4f !important;
}
